[submodule "client"]
	path = client
	url = https://github.com/silverberrylog/ecom-store-2-in-1--client.git
[submodule "server"]
	path = server
	url = https://github.com/silverberrylog/ecom-store-2-in-1--server.git
